@import url(front\ page.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body {
	font-family: "Poppins";
	background-color: #FEF9EC;
}

.page-title {
	font-size: 24pt;
	font-weight: 800;
}

.cart-title {
	font-size: 16pt;
	font-weight: 800;
	background-color: #F5CB5C;
	align-items: center;
}

.item-container {
	justify-content: space-between;
}

.item-img {
	width: 130px;
	height: 130px;
	border: thin solid #000;
}

.item-name, .item-desc, .item-price{
	margin: 0;
}

.item-name, .item-price{
	font-size: 14pt;
}

.item-name {
	font-weight: 600;
}

.item-price {
	font-weight: 800;
}

.item-func {
	gap: 15px;
}

.q-box-container {
	border: thin solid #000;
	border-radius: 2px;
	align-items: center;
	width: fit-content;
}

.q-box-container span {
	background-color: #fff;
	font-weight: 600;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
}

.q-box {
	text-align: center;
	border: 0;
	width: 30px;
}

.q-box:focus {
	border-color: none;
}

.remove-btn {
	background-color: #000;
	padding: 5px 15px 5px 15px;
	letter-spacing: 1px;
	border: none;
	color: #fff;
	font-weight: 800;
	font-size: 14pt;
	border-radius: 5px;
	box-shadow: none;
}

.right-content {
	background-color: #EFEFEF;
	border: thin solid #000;
}

.summary-title {
	font-size: 14pt;
	font-weight: 800;
	margin: 10px 0px 10px 0px;
}

.first-total {
	font-weight: 800;
}

#subtotal-price, #shipping-price, #tax-price, #total-price {
	color: red;
}

.promo-title {
	text-decoration: underline;
}

.total {
	font-size: 16pt;
	font-weight: 800;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	margin: 20px 0px 20px 0px;
}

#total, #total-price {
	margin: 0;
	padding: 10px 0px 10px 0px;
}

.checkout-btn {
	background-color: #000;
	color: #fff;
	border: 0;
	border-radius: 5px;
	font-size: 14pt;
	font-weight: 800;
	letter-spacing: 1px;
	margin: 20px 0px 20px 0px;
	padding: 5px 150px 5px 150px;
}